*{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boolflix{
  font-size: 4.5rem;
}

/* Stili per uniformare le dimensioni delle card */
.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  height: 50px;
  overflow: hidden;
}

.star-color{
  color: yellow;
}