*{
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black !important;
}


.boolflix{
  font-size: 4.5rem;
}

/* Stili per uniformare le dimensioni delle card */
.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  overflow-y: auto;
  max-height: 100%;
}

.card:hover .card-body {
  opacity: 1;
}

.card-title {
  height: 50px;
  overflow: hidden;
}


/* STAR */
.star-color{
  color: yellow;
}


.img-placeholder{
  height: 456px;
}
